p.footer 2017 &copy; anfelo 
	a(href='https://github.com/anfelo/daplace' target='_blank')
		i.fa.fa-github
	|  - 
	a(href='https://www.freecodecamp.org/anfelo' target='_blank')
		i.fa.fa-free-code-camp