extends layout

block content
	.content-wrapper
		.jumbotron
			h1 Enjoy the night in Daplace
		if search_error
			.home-message
				p #{search_error} is not supported by Yelp's API, Search for another city!
		.form-container
			form(method='POST' action='/search?offset=1')
				div.form-group
					input.form-control.city-input(type='text' id='city' placeholder='City' name='city' required)
					input.form-control.country-input(type='text' id='country' placeholder='Country' name='country' required)
				button.btn.form-btn(type='submit') Lets go!
	.footer-container-home
		// load footer.pug
		include footer